<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:layout name="Default" />
    <f:section name="Main">
        <div class="container pt-2 pt-lg-3 ">
            <nav aria-label="breadcrumb">
                <f:render partial="Navigation/BreadcrumbNavigation" arguments="{_all}"/>
            </nav>
        </div>
        <f:if condition="{f:cObject(typoscriptObjectPath:'lib.dynamicContent',data:'1')}">
            <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '1'}"/>
        </f:if>
        <main class="main">
            <!-- MOBILE MENU -->
            <f:render partial="Navigation/MainMobileNavigation" arguments="{_all}"/>
            <f:if condition="{colorTitle}">
                <div class="container nmt-6">
                    <div class="row p-3">
                        <div class="col p-4 bg-plaster-50 nav-undecorated">
                            <h1 class="h2 my-0"><a href="{colorTitleLink}">{colorTitle}</a></h1>
                        </div>
                    </div>
                </div>
            </f:if>
            <div class="container">
                <div class="row">
                    <div id="subnavigation" class="d-none d-xl-block col-xl-3 collapse">
                        <f:render partial="Navigation/Subnavigation" arguments="{_all}"/>
                    </div>
                    <div class="col-12 col-xl-9 mb-6 mb-xl-0">
                        <div class="row{f:if(condition:reverseOrder,then:' flex-column-reverse flex-md-row')}">
                            <div class="col-12 col-lg-8 mb-6 mb-lg-0">
                                <article>
                                    <f:if condition="{otherLanguageVersion}">
                                        <f:then>
                                            <div style="position:relative;">
                                                <h1 id="pageTitle">{pageTitle}</h1>
                                                <div class="lthpackageOtherPageLink">
                                                    <f:link.typolink parameter="{otherLanguageVersion}" class="dropdown-item ">{f:translate(key:'language_selector_page',extensionName:'lth_package')}</f:link.typolink>
                                                </div>
                                            </div>
                                        </f:then>
                                        <f:else>
                                           <h1 id="pageTitle">{pageTitle}</h1> 
                                        </f:else>
                                    </f:if>
                                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '0'}"/>
                                </article>
                            </div>
                            <div class="col-12 col-lg-4">
                                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '2'}"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-8">
                                <div class="border-top border-dark mt-5 py-3">
                                    <f:format.raw>{author}</f:format.raw>
                                </div>            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>          
    </f:section>
</html>