<f:spaceless>
    <f:render partial="Structure/Alert" arguments="{_all}"/>
    
    <div class="modal fade" id="nav-mobile" tabindex="-1" role="dialog" aria-labelledby="mobile-menu-label" aria-hidden="true">
	<div class="modal-dialog my-0 mx-auto" role="document">
            <div class="modal-content border-0 rounded-0">
                <nav class="nav border-bottom p-3 flex-row justify-content-between align-items-center sticky-top bg-white">
                    <div id="nav-mobile-label" class="h3 m-0">
                        <span class="sr-only">{siteTitle}</span>
                    </div>
                    <button type="button" class="border-0 bg-transparent cursor-pointer lh-0 p-2 nm-2" data-dismiss="modal" aria-controls="mobileMenu" aria-expanded="false" aria-label="{f:translate(key:'hide_menu',extensionName:'lth_package')}">
                      <span aria-hidden="true"><i class="fal fa-times fa-lg"></i></span>
                    </button>
                </nav>
                <f:render partial="Navigation/MobileNavigation" arguments="{_all}"/>
            </div>
        </div>
    </div>
    
    <header class="header nav-undecorated">
        <f:render partial="Structure/TopBar" arguments="{_all}"/>
        <f:render partial="Structure/Header" arguments="{_all}"/>
    </header>
    <f:render section="Main"/>
    <footer class="footer">
        <f:render partial="Structure/Footer" arguments="{_all}"/>
    </footer>
</f:spaceless>