<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:lth="http://typo3.org/ns/LTH/LthPackage/ViewHelpers"  data-namespace-typo3-fluid="true">
    <f:layout name="Default"/>
    <f:section name="Main">
        <f:if condition="{data.pi_flexform.layout}=='cards'">
            <f:then>
                <div class="container py-4" id="calendar-{data.uid}">
                    <div class="row my-8">
                        <div class="col-12 text-center">
                            <h1>{f:translate(key:'calendar',extensionName:'lth_package')}</h1>
                            <f:if condition="{data.pi_flexform.subheader}">
                                <f:then><p>{data.pi_flexform.subheader}</p></f:then>
                            </f:if>
                            <div id="lthPackageCalendarCategories" class="mt-5">
                                <f:if condition="{data.pi_flexform.listingPage}">
                                    <f:then>
                                        <f:link.typolink parameter="{data.pi_flexform.listingPage}" class="btn btn-primary mx-1 mb-3">{f:translate(key:'more_events',extensionName:'lth_package')}</f:link.typolink>
                                    </f:then>
                                    <f:else>
                                        <a href="events" class="btn btn-primary mx-1 mb-3">{f:translate(key:'more_events',extensionName:'lth_package')}</a>
                                    </f:else>
                                </f:if>
                            </div>    
                        </div>
                    </div>
                    <div class="row my-5" id="lthPackageCalendarCards">
                    </div>
                    <input type="hidden" id="lthPackageCalId" value="{data.pi_flexform.calId}" />
                    <script id="lthPackageCalendarCardsTemplate" type="text/x-jquery-templ">
                        <div class="col-12 col-lg-6 col-lined">
                            <a id="###id###" href="###link###" title="###title###" class="card card-item nav-block bg-transparent flex-row card-item-lined h-100 nav-block-hover-plaster-25 p-2 py-md-3 nmx-2">
                                <div class="card-date">
                                    <div class="calendar-date-box">
                                        <h1>###date###</h1>
                                        <p>###month###</p>
                                    </div>
                                </div>
                                <div class="card-body p-2">
                                    <div class="meta">
                                        <date class="meta-date" datetime="###dateTime###">###dateTime###</date>
                                        <span class="meta-category">###categoryName###</span>
                                    </div>
                                    <h3 class="nav-block-link mt-0 mb-2 h5">###title###</h3>
                                </div>
                            </a>
                        </div>
                    </script>
                </div>
            </f:then>
        </f:if>
        <f:if condition="{data.pi_flexform.layout}=='eventcards'">
            <f:then>
                <div class="bg-sky-25 mb-8">
                    <div class="container py-6">
                        <div class="row mb-5">
                            <div class="col">
                                <h2 class="m-0">Kalendarium <a href="#" class="ml-3"><span class="sr-only">RSS-flöde</span> <i class="fas fa-rss fa-xs"></i></a></h2>
                            </div>
                        </div>
                        <div class="row" id="lthPackageCalendar">
                            <div class="col">
                                <div class="lined lined-3col">

                                </div>
                            </div>
                        </div>
                        <div class="mt-5 text-right font-weight-normal">
                            <div class="col text-right">
                                <a href="#">{f:translate(key:'more_events',extensionName:'lth_package')}</a>
                            </div>
                        </div>
                        <script id="lthPackageCalendarEventCardsTemplate" type="text/x-jquery-templ">
                            <div class="lined-item">
                                <a class="calendar-card nav-block" href="card1.html">
                                    <div class="calendar-card-img">
                                        <img class="card-img-top" src="/assets/toolkit/images/placeholder_1_square.jpg" alt="Den svenska välfärdsstatens framväxt. Hälsa och välfärd i ett livscykelperspektiv">
                                    </div>
                                    <div class="calendar-card-text">
                                        <div class="calendar-card-meta">
                                            <date>###dateTime###</date> | <span class="calendar-card-category">###categoryName###</span>
                                        </div>
                                        <p class="calendar-card-title nav-block-link">###title###</p>
                                    </div>
                                </a>
                            </div>
                        </script> 
                    </div>
                </div>
            </f:then>
        </f:if>
        <f:if condition="{data.pi_flexform.layout}=='list'">
            <f:then>
                <div class="row mb-3">
                    <div class="col">
                        <h1>Kalendarium</h1>
                    </div>
                    
                </div>
                <div class="col-12 col-lg-8 order-lg-1" id="calendar-{data.uid}">
                    
                    <form class="form my-5">
                        <div class="row">
                            <div class="col-12 col-md">
                                <div class="form-group">
                                    <label class=" w-100">
                                        Datum från
                                        <div class="input-group date">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text bg-transparent text-bronze">
                                                    <i class="fal fa-calendar-alt fa-lg"></i>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" name="date" value=""  id="datetimepicker1" />
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="col-12 col-md">
                                <div class="form-group">
                                    <label class=" w-100">
                                        Datum till
                                        <div class="input-group date">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text bg-transparent text-bronze">
                                                    <i class="fal fa-calendar-alt  fa-lg"></i>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" name="date" value=""  id="datetimepicker2" />
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md">
                                <div class="form-group">
                                    <label class=" w-100">
                                        <select class="form-control custom-select" name="category" id="lthPackageCalendarSelectCategories" placeholder="Kategori">
                                            <option value="">Kategori</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="col-12 col-md">
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md">
                                <div class="form-group">
                                    <label class=" w-100">
                                        <div class="input-group rounded-0">
                                            <input type="text" class="form-control" name="text" value="" id="lthPackageCategorySearchField" placeholder="Skriv för att filtrera">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-primary rounded-0" id="lthPackageCategorySearchButton" type="button">Sök</button>
                                            </div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="lthPackageCalendarList" style="max-width:760px;" class="border-bottom py-md-3 nm-md-3">

                </div>
                <script id="lthPackageCalendarListTemplate" type="text/x-jquery-templ">
                    <a href="###link###" id="###id###" class="card card-item nav-block bg-transparent flex-row p-0 p-md-3 mb-3 mb-md-0 nav-block-hover-plaster-25" title="###title###">
                        <div class="card-date p-0">
                            <div class="calendar-date-box">
                                <h1>###date###</h1>
                                <p>###month###</p>
                            </div>
                        </div>
                        <div class="card-body p-0 pl-3 pl-md-0">
                            <div class="meta">
                                <date class="meta-date" datetime="###dateTime###">###dateTime###</date>
                                <span class="meta-category">###categoryName###</span>
                            </div>
                            <h3 class="nav-block-link mt-0 mb-2 h4">###title###</h3>
                        </div>
                    </a>
                </script>
            </f:then>
        </f:if>
        <f:if condition="{data.pi_flexform.layout}=='single'">
            <f:then>
                <div  id="lthPackageCalendarShow">
                    <div class="event-title d-flex mb-5">
                        <div class="event-title__date">
                            <div class="calendar-date-box">
                                <h1></h1>
                                <p></p>
                            </div>
                        </div>
                        <div class="event-title__heading">
                            <h1></h1>
                        </div>
                        <div class="event-title__meta">
                            <div class="meta ">
                                <date class="meta-date"></date>
                                <span class="meta-category"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col col-md-9 event-text">

                        </div>
                    </div>
                    <div>
                        <a id="lthPackagePrevBtn" href="javascript:" class="btn btn-warning">Föregående händelse</a>&nbsp;
                        <a id="lthPackageNextBtn" href="javascript:" class="btn btn-primary">Nästa händelse</a>
                    </div>
                </div>
            </f:then>
        </f:if>

        <f:if condition="{data.pi_flexform.layout}=='portal'">
            <f:then>
                <div id="lthPackageCalendarPortal" class="container">
                    <div class="row my-5">
                        <div class="">
                            <div class="hero-title">
                                <h1>Kalendarium</h1>
                            </div>
                        </div>
                    </div>
                    
                    <div id="lthPackageCalendarPortalTop" class="row my-5">
                        <div class="col-12 col-lg-3">
                            
                        </div>
                        <div class="col-12 col-lg-3">
                            
                        </div>
                        <div class="col-12 col-lg-3">
                            
                        </div>
                        <div class="col-12 col-lg-3">
                            <a href="/events/disputationer/" class="card nav-block p-3 h-100 w-100 flex-column justify-content-between bg-flower-50">
                                <div class="mb-5">
                                    <h3 class=" nav-block-link m-0">Kommande disputationer</h3>
                                </div>
                                <div class="nav-block-link ">Läs mer&nbsp;<i class="fal fa-chevron-circle-right  fa-lg"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    
                    <div class="row my-5">
                        <div class="col-12 col-lg-9 col-xl-9">
                            <div class="">
                                <div class="hero-title">
                                    <h2>Kommande evenemang</h2>
                                </div>
                            </div>
                            <!-- Filter start -->
                            <form action="#" class="form my-5">
                                <div class="row">
                                    <div class="col-12 col-md">
                                        <div class="form-group">
                                            <label class="w-100">
                                                Datum från
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text bg-transparent text-bronze"><i class="fal fa-calendar-alt  fa-lg"></i></span>
                                                    </div>
                                                    <input type="date" class="form-control" name="date" value="2018-09-10" placeholder="YYYY-MM-DD" pattern="'\d{4}-\d{2}-\d{2}" >
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md">
                                        <div class="form-group">
                                            <label class="w-100">
                                                Datum till
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text bg-transparent text-bronze"><i class="fal fa-calendar-alt  fa-lg"></i></span>
                                                    </div>
                                                    <input type="date" class="form-control" name="date" value="2018-12-10" placeholder="YYYY-MM-DD" pattern="'\d{4}-\d{2}-\d{2}" >
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md">
                                        <div class="form-group">
                                            <label class="w-100">
                                                <select class="form-control custom-select" name="" placeholder="Intresseområde">
                                                    <option>Intresseområde</option>
                                                    <option>Lorem ipsum</option>
                                                    <option>Aliquam</option>
                                                    <option>Vestibulum</option>
                                                    <option>Nunc dignissim</option>
                                                    <option>Cras ornare</option>
                                                    <option>Vivamus</option>
                                                    <option>Praesent</option>
                                                    <option>Fusce nibh</option>
                                                    <option>Integer vitae</option>
                                                    <option>Vestibulum</option>
                                                    <option>Ut aliquam</option>
                                                    <option>Cras iaculis</option>
                                                    <option>Donec quis</option>
                                                </select>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md">
                                        <div class="form-group">
                                            <label class="w-100">
                                                <select class="form-control custom-select" name="" placeholder="Händelsetyp">
                                                    <option>Händelsetyp</option>
                                                    <option>Lorem ipsum</option>
                                                    <option>Aliquam</option>
                                                    <option>Vestibulum</option>
                                                    <option>Nunc dignissim</option>
                                                    <option>Cras ornare</option>
                                                    <option>Vivamus</option>
                                                    <option>Praesent</option>
                                                    <option>Fusce nibh</option>
                                                    <option>Integer vitae</option>
                                                    <option>Vestibulum</option>
                                                    <option>Ut aliquam</option>
                                                    <option>Cras iaculis</option>
                                                    <option>Donec quis</option>
                                                </select>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md">
                                        <div class="form-group">
                                            <label class="w-100">
                                                <div class="input-group rounded-0">
                                                    <input type="text" class="form-control" name="" placeholder="Skriv för att filtrera" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-primary rounded-0" type="submit">Sök</button>
                                                    </div>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- Filter end -->
                            <!-- Cal list begin -->
                            <div id="lthPackageCalendarPortalList" class="row my-5">
                                
                            </div>
                            <!-- Cal list end -->
                            <!--pagination start -->
                            <nav aria-label="Pagination" class="my-3">
                                <ul class="pagination pagination-sm">
                                </ul>
                            </nav>
                            <!--pagination end -->
                        </div>
                        <div class="col-12 col-lg-3">
                            <div class="">
                                <div class="hero-title">
                                    <h2>Pågånde evenemang</h2>
                                </div>
                            </div>
                            <!-- Current list begin -->
                            <div id="lthPackageCalendarPortalCurrent" class="">
                                <div class="">
                                    <div class="col">
                                        <div class=" mt-5 text-right font-weight-normal">
                                            <a href="../../#.html" class="nav-undecorated ">Till alla kommande evenemang&nbsp;<i class="fal fa-chevron-circle-right  fa-lg"></i>
                                        </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Current list end -->
                        </div>
                    </div>
                </div>
                <script id="lthPackageCalendarCardTemplate" type="text/x-jquery-templ">
                    <a href="###link###" class="card nav-block nav-block-plaster-25 nav-block-hover-plaster-25" title="###title###">
                        <div class="card-img p-0">
                            <div class="card-img-container">
                                <img src="###image###" alt="###title###" />
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="meta ">
                                <date class="meta-date">###dateTime###</date>
                                <span class="meta-category">###categoryName###</span>
                                <div class="meta-location">###location###</div>
                            </div>
                            <h3 class="nav-block-link m-0">###title###</h3>
                        </div>
                    </a>
                </script>
                <script id="lthPackageCalendarListTemplate" type="text/x-jquery-templ">
                    <div class="row">
                        <div class="col-12">
                            <div class="border-bottom border-sm-0">
                                <a href="###link###" class="card card-item nav-block" alt="###title###">
                                    <div class="card-img d-none d-sm-flex">
                                        <div class="card-img-container">
                                            <img src="###image###" />
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="meta ">
                                            <date class="meta-date">###dateTime###</date>
                                            <span class="meta-category">###categoryName###</span>
                                            <div class="meta-location">###location###</div>
                                        </div>

                                        <h3 class="nav-block-link mt-0 mb-2 h4">###title###</h3>
                                        <p>###lead###</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </script>
            </f:then>
        </f:if>
        
        <input type="hidden" id="lthPackageCalId" value="{data.pi_flexform.calId}"/>
        <!-- <div class="modal fade" id="calendarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel"></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                </div>
                  
                <div class="modal-footer">
                    <button id="prev-btn-modal" class="btn btn-warning">Prev</button>
                    <button id="next-btn-modal" class="btn btn-primary">Next</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div> -->
    </f:section>
</html>