<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:layout name="Default"/>
    <f:section name="Main">
        <f:if condition="{data.pi_flexform.carouselImages}">
            <f:then>
                <div class="container-fluid mx-0 px-0 nav-undecorated">
                    <div id="carousel-{data.uid}" class="carousel slide" data-ride="carousel" data-pause="false">
                        <ol class="carousel-indicators">
                            <f:for each="{data.pi_flexform.carouselImages}" as="imageItem" iteration="iterator">
                                <li data-target="#carousel-{data.uid}" data-slide-to="{iterator.index}" class="{f:if(condition: iterator.isFirst,then:'active')}">
                                    <span class="sr-only">{f:if(condition:imageItem.title,then:imageItem.title,else:imageItem.alternative)}</span>
                                </li>
                            </f:for>
                        </ol>
                        <div class="carousel-controls-container">
                            <div class="carousel-controls">
                                <div class="carousel-controls-play"></div>
                                <div class="carousel-controls-pause"></div>
                            </div>
                        </div>
                        <div class="carousel-inner">
                            <f:for each="{data.pi_flexform.carouselImages}" as="imageItem" iteration="iterator">
                                <div class="carousel-item{f:if(condition: iterator.isFirst,then:' active')}{f:if(condition: data.pi_flexform.halfHeight,then:' subsite-item-height')}">
                                    <f:link.typolink parameter="{imageItem.link}" class="nav-block h-100">
                                        <div class="carousel-img-container">
                                            <img src="{f:uri.image(src:imageItem.uid,treatIdAsReference:1, width:'NULL',height:'NULL',crop:imageItem.crop)}" alt="{imageItem.alternative}" class="carousel-img" />
                                        </div>
                                        <div class="carousel-caption">
                                            <p>
                                                <span class="a nav-block-link">{f:if(condition:imageItem.title,then:imageItem.title,else:imageItem.alternative)}&nbsp;<i class="fal fa-chevron-circle-right fa-sm"></i></span>
                                            </p>
                                        </div>
                                    </f:link.typolink>                                    
                                </div>
                            </f:for>    
                        </div>
                        <a class="carousel-control-prev" href="#carousel-{data.uid}" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">{f:translate(key:'previous',extensionName:'lth_package')}</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel-{data.uid}" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">{f:translate(key:'next',extensionName:'lth_package')}</span>
                        </a>
                    </div>
                </div>
            </f:then>
        </f:if>
    </f:section>
</html>