<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:lth="http://typo3.org/ns/LTH/LthPackage/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:layout name="Default"/>
    <f:section name="Main">
        <figure class="figure">
            <f:image src="{data.pi_flexform.figureImage}" treatIdAsReference="1" class="figure-img img-fluid m-0" width="NULL" height="NULL" />
            <f:if condition="{imageItem.description}">
                <figcaption class="figure-caption bg-dark text-white p-2">{imageItem.description}</figcaption>
            </f:if>
        </figure>
    </f:section>
</html>