<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:lth="http://typo3.org/ns/LTH/LthPackage/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:layout name="Default"/>
    <f:section name="Main">
        <f:if condition="{data.pi_flexform.infoboxtype}=='contact'">
            <f:then>
                <div id="infobox-{data.uid}" class="bg-{data.pi_flexform.backgroundcolor} mb-6 p-5">
                    <h1 class="h3 mt-0 mb-3">{f:translate(key:'contact',extensionName:'lth_package')}</h1>
                    <f:format.html><p>{data.pi_flexform.bodytext}</p></f:format.html>
                </div>
            </f:then>
        </f:if>
        <f:if condition="{data.pi_flexform.infoboxtype}=='icons'">
            <f:then>
                <div id="infobox-{data.uid}" class="bg-{data.pi_flexform.backgroundcolor} {data.pi_flexform.icontextcolor} mb-6 p-5">
                    <f:for each="{data.pi_flexform.iconItems}" as="iconItem" iteration="iteration">
                        <div class="row mb-5">
                            <div class="col-12 col-xl mb-5 mb-xl-0 d-flex flex-row">
                                <div class="mr-3">
                                    <i class="{iconItem.1.icon}"></i>
                                </div>
                                <div>
                                    <h4 class="m-0">{iconItem.1.title}</h4>
                                    <p>{iconItem.1.bodytext}</p>
                                </div>
                            </div>
                            <div class="col-12 col-xl d-flex flex-row">
                                <div class="mr-3">
                                    <i class="{iconItem.2.icon}"></i>
                                </div>
                                <div>
                                    <h4 class="m-0">{iconItem.2.title}</h4>
                                    <p>{iconItem.2.bodytext}</p>
                                </div>
                            </div>
                        </div>
                    </f:for>
                </div>
            </f:then>
        </f:if>
        <f:if condition="{data.pi_flexform.infoboxtype}=='iconsvertical'">
            <f:then>
                <div id="infobox-{data.uid}" class="bg-{data.pi_flexform.backgroundcolor} {data.pi_flexform.icontextcolor} mb-6 p-5">
                    <f:for each="{data.pi_flexform.iconItems}" as="iconItem" iteration="iteration">
                        <div class="row mb-3">
                                <div class="col-2 text-center">
                                        <i class="{iconItem.icon}"></i>
                                </div>
                                <div class="col">
                                        <h4 class="m-0">{iconItem.title}</h4>
                                        <p>{iconItem.bodytext}</p>
                                </div>
                        </div>
                    </f:for>
                </div>
            </f:then>
        </f:if>
        <f:if condition="{data.pi_flexform.infoboxtype}=='nav'">
            <f:then>
                <f:debug>{data.pi_flexform.linkItems}</f:debug>
                <div id="infobox-{data.uid}" class="bg-{data.pi_flexform.backgroundcolor} mb-6 p-5">
                        <h1 class="h3 mt-0 mb-3">{data.pi_flexform.header}</h1>
                        <ul class="nav flex-column gcpx-0 gcpy-1">
                            <f:for each="{data.pi_flexform.linkItems}" as="linkItem" iteration="iteration">
                                <li class="nav-item">
                                    <a class="nav-link" href="{linkItem.link}">{linkItem.linktext}</a>
                                </li>
                            </f:for>
                        </ul>
                </div>
            </f:then>
        </f:if>
        <f:if condition="{data.pi_flexform.infoboxtype}=='readmore'">
            <f:then>
                <div id="infobox-{data.uid}" class="bg-{data.pi_flexform.backgroundcolor} mb-6 p-5">
                    <h1 class="h3 mt-0 mb-3">{data.pi_flexform.header}</h1>
                    <f:format.html><p>{data.pi_flexform.bodytext}</p></f:format.html>
                    <div class="text-right font-weight-normal nav-undecorated">
                        <a href="{data.pi_flexform.link}">{f:translate(key:'read_more',extensionName:'lth_package')}&nbsp;<span class="ml-1"><i class="fal fa-chevron-circle-right fa-lg"></i></span></a>
                    </div>
                </div>
            </f:then>
        </f:if>
    </f:section>
</html>