<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <div class="container">
	<div class="row">
            <div class="col-12 col-lg-4  mb-5 mb-lg-8">
                <img src="/typo3conf/ext/lth_package/Resources/Public/Images/lth_logo_footer@1x.png" srcset="/typo3conf/ext/lth_package/Resources/Public/Images/lth_logo_footer@1x.png 1x, /typo3conf/ext/lth_package/Resources/Public/Images/lth_logo_footer@2x.png 2x, /typo3conf/ext/lth_package/Resources/Public/Images/lth_logo_footer@3x.png 3x" alt="LTH | Lunds universitet">
            </div>
            <div class="col-12 col-lg-4 mb-5 mb-lg-8">
                <p class="nav-title m-0">Genvägar</p>
                <div class="nav nav-list">
                    <a class="nav-link" href="/english"><i class="fal fa-globe"></i> Change to English</a>
                    <a class="nav-link" href="#">Om webbplatsen</a>
                    <a class="nav-link" href="#">Om cookies</a>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-5 mb-lg-8">
                <p class="nav-title m-0">Följ oss i sociala medier</p>
                <ul class="nav nav-social">
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.facebook.com/lth/"><span class="sr-only">Facebook </span><i class="fab fa-facebook fa-2x"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.instagram.com/lth/"><span class="sr-only">Instagram </span><i class="fab fa-instagram fa-2x"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.linkedin.com/school/lth/"><span class="sr-only">LinkedIn </span><i class="fab fa-linkedin fa-2x"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://twitter.com/lth"><span class="sr-only">Twitter </span><i class="fab fa-twitter fa-2x"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.youtube.com/user/lth"><span class="sr-only">Youtube </span><i class="fab fa-youtube fa-2x"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-4 mb-5 mb-lg-8">
		<p class="nav-title">Kontakta oss</p>
		<p>Lunds Tekniska Högskola, LTH<br> Box 118<br> 221 00 LUND<br> 046-222 71 00<br /><a href="mailto:info@lth.se">info@lth.se</a></p>
            </div>
            <div class="col-12 col-lg-8 mb-5 mb-lg-8">
		<p class="nav-title m-0">Samarbeten och nätverk</p>
		<div class="nav nav-partners">
                    <a href="#" class="nav-link"><img src="/typo3conf/ext/lth_package/Resources/Public/Images/partners/leru.png" alt="leru"></a>
                    <a href="https://www.iie.org/Programs/Global-E3" class="nav-link"><img src="/typo3conf/ext/lth_package/Resources/Public/Images/partners/iie.svg" alt="iie"></a>
                    <a href="#" class="nav-link"><img src="/typo3conf/ext/lth_package/Resources/Public/Images/partners/u21.png" alt="u21"></a>
		</div>
            </div>
	</div>
    </div>
</html>