<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:lth="http://typo3.org/ns/LTH/LthPackage/ViewHelpers" data-namespace-typo3-fluid="true">
    <div class="border-bottom">
        <div class="container-fluid mw-xl">
            <div class="row m-0 py-3 py-lg-5">
                <div class="col p-0">
                    <div class="d-flex justify-content-between align-items-center h-100">
                        <div class="header-logo  header-logo-lth flex-grow-1 flex-lg-grow-0">
                            <a href="{logoLink}" title="{siteTitle}">
                                <img src="/typo3conf/ext/lth_package/Resources/Public/Images/{logo}.jpg" 
                                     class="mw-100"
                                     alt="{siteTitle}">
                            </a>
                        </div>
                        <div class="flex-shrink-1 flex-lg-shrink-0 flex-grow-0 d-flex flex-column justify-content-between h-100 mh-120">
                            <div class="h-lg-auto flex-column justify-content-between align-items-end font-size-sm font-size-sm-base flex-grow-0">
                                <nav class="nav text-center h-100 h-lg-auto align-items-center d-lg-none flex-nowrap">
                                    <div class="nav-item">
                                        <a class="ml-2 p-1 d-block nav-undecorated" 
                                            href="#header-search-form" 
                                            data-toggle="collapse"
                                            aria-controls="header-search-form" aria-expanded="false"
                                            aria-label="{f:translate(key:'show_and_hide_searchfield',extensionName:'lth_package')}">
                                             <i class="fal fa-search"></i><br />{f:translate(key:'search',extensionName:'lth_package')}
                                        </a>
                                    </div>
                                    <div class="nav-item">
                                        <a class="ml-2 p-1 d-block nav-undecorated"
                                           href="/english/"><i class="fal fa-globe"></i><br/>{f:translate(key:'language_selector',extensionName:'lth_package')}</a>
                                    </div>
                                    
                                </nav>
                                <div class="d-none d-lg-flex flex-column flex-xl-row w-100 justify-content-end">
                                    <nav class="nav align-items-center justify-content-end flex-1 mb-3 mb-xl-0">
                                        <div class="nav-item flex-xl-grow-1">
                                            <form class="form-inline pr-xl-3" action="//lth.se/sok" method="get" accept-charset="UTF-8">
                                                <div class="input-group input-group-round input-group-sm w-100 flex">
                                                    <input type="search" class="form-control form-control-sm border-right-0" id="header-search-field" name="query" value />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary px-2" type="submit">
                                                            <span class="mr-2">{f:translate(key:'search',extensionName:'lth_package')}</span>
                                                            <i class="fal fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </nav>
                                    <nav class="nav align-items-center justify-content-end">
                                        <div class="nav-item d-none d-lg-block">
                                            <a class="nav-link px-0 ml-4" href="/{otherLanguageLink}">
                                                <span class="mr-1"><i class="fal fa-lg fa-globe"></i></span> {f:translate(key:'language_selector',extensionName:'lth_package')}
                                            </a>
                                        </div>
                                        <div class="nav-item">
                                            <a class="nav-link px-0 ml-4" href="javascript:" onclick="toggleBar();" title="Aktivera talande webb" id="bapluslogo" data-bapdf="11">
                                                <span class="mr-1"><i class="fal fa-lg fa-volume"></i></span> {f:translate(key:'listen',extensionName:'lth_package')}
                                            </a>
                                        </div>
                                        <f:security.ifAuthenticated>
                                            <div class="nav-item">
                                                <a class="nav-link px-0 ml-4" href="?logintype=logout">
                                                    <span class="mr-1"><i class="fal fa-lg fa-user"></i></span> {f:translate(key:'logout',extensionName:'lth_package')}
                                                </a>
                                            </div>
                                        </f:security.ifAuthenticated>
                                    </nav>
                                </div>
                            </div>
                            <div class="row d-none d-xl-block font-size-xl-lg font-weight-light">
                                <f:render partial="Navigation/MainNavigation" arguments="{_all}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <f:render partial="Navigation/MobileNavigation" arguments="{_all}"/>
        
        <div class="header-search-form collapse collapse-lg pb-2 px-2" id="header-search-form">
            <form action="//lth.se/sok" class="form-inline px-lg-3">
                <div class="input-group input-group-round input-group-sm w-100 flex">
                    <input type="search" class="form-control form-control-sm border-right-0" id="header-search-field-mobile" name="query" />
                    <div class="input-group-append">
                        <button class="btn btn-primary px-2" type="submit">
                            <span class="mr-2">{f:translate(key:'search',extensionName:'lth_package')}</span>
                            <i class="fal fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</html>