<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <nav class="navbar navbar-expand-lg navbar-light navbar-mobile-header bg-white d-flex d-lg-none justify-content-between p-0 flex-row fixed-top border-bottom">
        <div>
            <a class="p-2" href="https://www.lth.se/">
                <img src="/assets/toolkit/images/lth_logo_mobile@1x.png"
                     srcset="/typo3conf/ext/lth_package/Resources/Public/Images/lth_logo_mobile@1x.png 1x, /typo3conf/ext/lth_package/Resources/Public/Images/lth_logo_mobile@2x.png 2x, /typo3conf/ext/lth_package/Resources/Public/Images/lth_logo_mobile@3x.png 3x"
                     alt="LTH | Lunds universitet"
                     style="width: 157px;height:32px">
            </a>
        </div>
        <div class="d-flex flex-row text-center font-size-sm">
            <a class="mr-2 p-2" href="https://www.lth.se/" data-toggle="collapse" data-target="#mobileSearch"
               aria-controls="mobileSearch" aria-expanded="false" aria-label="Visa och dölj sökfölt">
                <i class="fal fa-search"></i><br><br><f:translate key="search" />
            </a>
            <a class="mr-2 p-2" href="https://www.lth.se/" data-toggle="modal" data-target="#mobileMenu" aria-controls="mobileMenu" aria-expanded="false" aria-label="Visa meny">
                <i class="fal fa-bars"></i><br><f:translate key="menu" />
            </a>
        </div>
    </nav>
    <div id="mobileSearch" class="collapse">
        <form class="form-inline border-bottom p-2">

            <div class="input-group input-group-round input-group-sm">
                <input type="search" class="form-control form-control-sm border-right-0"
                       id="mobileSearchField"
                       placeholder="{f:translate(key: 'search')}"
                       aria-label="{f:translate(key: 'search')}">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary border-left-0 px-2" type="submit">
                        <i class="fal fa-search"></i></span>
                    </button>
                </div>
            </div>

        </form>
    </div>
</html>