<!-- Toolbar start -->
    <div id="toolbar_wrapper">
        <div id="toolbar_content" class="container-31 clearfix">
            <nav id="toolbar_navigation_left">
                <ul>
                    <li class="show-xs sv" id="responsive-toolbar-logo"><a href="http://www.lu.se"></a></li>
                </ul>
            </nav>
            <nav id="toolbar_navigation_right">
                <ul>
                    <li class="hide-xs"><a href="javascript:" onclick="toggleBarStart();">Lyssna med talande webb</a></li><li id="responsive-search" class="show-xs"><a><span class="hide-xs">Sök</span></a></li><li class="en" id="link-international"><a href="/english/"><span class="hide-xs">This site in English</span></a></li></ul>
            </nav>
        </div>
    </div>
<!-- Toolbar end-->
