<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:lth="http://typo3.org/ns/LTH/LthPackage/ViewHelpers" data-namespace-typo3-fluid="true">
    <div class="bg-dark d-none d-lg-block">
        <div class="container-fluid mw-xl py-0">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark font-size-sm p-0 text-white">
                <div class="collapse navbar-collapse nmx-2" id="navbarSupportedContent">
                    <ul class="navbar-nav bd-navbar-nav flex-row">
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.lu.se/">{f:translate(key:'to_lund_university',extensionName:'lth_package')}</a>
                        </li>
                    </ul>
                    <f:if condition="{headnav}">
                        <f:then>
                            <ul class="navbar-nav flex-row ml-auto">
                                <lth:explode data="{headnav}" as="rows">
                                    <f:if condition="{rows}">
                                        <f:for each="{rows}" as="row" iteration="iterateRow">
                                            <li class="nav-item">
                                                <lth:explode data="{row}" delimiter="," as="content">
                                                    <a title="{content.0}" class="nav-link px-3" href="{content.1}">{content.0}</a>
                                                </lth:explode>
                                            </li>
                                        </f:for>
                                    </f:if>
                                </lth:explode>
                            </ul>
                        </f:then>
                        <f:else>
                            .{headnava}.
                            
                        </f:else>
                    </f:if>    
                    <f:if condition="{headnavdrop}">
                        <f:then>
                            <ul class="navbar-nav flex-row ml-5">
                                <lth:explode data="{headnavdrop}" as="rows">
                                    <f:if condition="{rows}">
                                        <f:for each="{rows}" as="row" iteration="iterateRow">
                                            <lth:explode data="{row}" delimiter="," as="content">
                                                <li class="nav-item">
                                                    <a title="{content.0}" class="dropdown-item" href="{content.1}">{content.0}</a>
                                                </li>
                                            </lth:explode>
                                        </f:for>
                                    </f:if>
                                </lth:explode>
                            </ul>
                        </f:then>
                        <f:else>
                            .{headnava}.
                            
                        </f:else>
                    </f:if>
                </div>
            </nav>
        </div>
    </div>
</html>