<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" data-namespace-typo3-fluid="true">
    <ul class="nav{f:if(condition:'{header} == \'HeaderDepartment\'', then: '', else: ' justify-content-end')} nav-header-main flex-nowrap">
        <f:for each="{mainNavigation}" as="mainNavigationItem" iteration="iterator">
            <f:if condition="{mainNavigationItem.children}">
               <f:then>
                   <li class="nav-item dropdown dropdown-hover{f:if(condition:mainNavigationItem.active,then:' active')}">
                       <a title="{mainNavigationItem.title}" class="nav-link  text-nowrap dropdown-toggle{f:if(condition:mainNavigationItem.active,then:' active')}" href="{mainNavigationItem.link}" id="dropdown-{mainNavigationItem.title}" aria-haspopup="true">
                           {mainNavigationItem.title}
                       </a>
                       <div class="dropdown-menu font-size-base" aria-labelledby="dropdown-{mainNavigationItem.title}">
                           <f:for each="{mainNavigationItem.children}" as="mainNavigationItemChild" iteration="iteratorChild">
                               <a title="{mainNavigationItemChild.title}" class="dropdown-item{f:if(condition:mainNavigationItemChild.current,then:' active')}" href="{mainNavigationItemChild.link}">{mainNavigationItemChild.title}</a>
                           </f:for>
                       </div>
                   </li>
                </f:then>
                <f:else>
                    <li class="nav-item{f:if(condition:mainNavigationItem.active,then:' active')}">
                        <a title="{mainNavigationItem.title}" class="nav-link text-nowrap" href="{mainNavigationItem.link}">{mainNavigationItem.title}</a>
                    </li>
                </f:else>
            </f:if>
       </f:for>
   </ul>
</html>