<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:if condition="{mobileNavigation}">
        <f:then>
            <f:for each="{mobileNavigation}" as="myitem" iteration="myiterator">
               <div class="modal fade" id="nav-mobile--{v:format.replace(substring:' ',content:myitem.title,replacement:'-')}" tabindex="-1" role="dialog" aria-labelledby="nav-mobile--{v:format.replace(substring:' ',content:myitem.title,replacement:'-')}-label" aria-hidden="true">
                    <div class="modal-dialog my-0 mx-auto" role="document">
                        <div class="modal-content border-0 rounded-0">
                            <nav class="nav border-bottom p-3 flex-row justify-content-between align-items-center sticky-top bg-white" style="padding-right: 33px; margin-right: -17px;">
                                <div id="nav-mobile--{v:format.replace(substring:' ',content:myitem.title,replacement:'-')}-label" class="h3 m-0">
                                    <span class="sr-only"></span>
                                </div>
                                <button type="button" class="border-0 bg-transparent cursor-pointer lh-0 p-2 nm-2" data-dismiss="modal" aria-controls="mobileMenu" aria-expanded="false" aria-label="{f:translate(key:'hide_menu',extensionName:'lth_package')}">
                                    <span aria-hidden="true"><i class="fal fa-times fa-lg"></i></span>
                                </button>
                            </nav>
                            <ul class="mobile-nav mobile-nav-root border-0 nav-collapse font-size-sm nav-undecorated">
                               <li class="mobile-nav-item">
                                   <div class="mobile-nav-container">
                                       <a href="{myitem.link}" class="nav-link">{myitem.title}
                                            <span class="ml-1">
                                                <i class="fal fa-chevron-circle-right fa-sm"></i>
                                            </span>
                                       </a>
                                   </div>
                                   <ul class="mobile-nav collapse show" id="{v:format.replace(substring:' ',content:myitem.title,replacement:'-')}">
                                       <f:render section="MobileNavigationItem" arguments="{menu:myitem.children}" />
                                   </ul>
                               </li>
                           </ul>
                        </div>
                    </div>
                </div>
            </f:for>
            <f:for each="{extraMobileNavigation}" as="myitem" iteration="myiterator">
                <div class="modal fade" id="nav-mobile--{v:format.replace(substring:' ',content:myitem.title,replacement:'-')}" tabindex="-1" role="dialog" aria-labelledby="nav-mobile--{v:format.replace(substring:' ',content:myitem.title,replacement:'-')}-label" aria-hidden="true">
                    <div class="modal-dialog my-0 mx-auto" role="document">
                        <div class="modal-content border-0 rounded-0">
                            <nav class="nav border-bottom p-3 flex-row justify-content-between align-items-center sticky-top bg-white" style="padding-right: 33px; margin-right: -17px;">
                                <div id="nav-mobile--{v:format.replace(substring:' ',content:myitem.title,replacement:'-')}-label" class="h3 m-0">
                                    <span class="sr-only"></span>
                                </div>
                                <button type="button" class="border-0 bg-transparent cursor-pointer lh-0 p-2 nm-2" data-dismiss="modal" aria-controls="mobileMenu" aria-expanded="false" aria-label="{f:translate(key:'hide_menu',extensionName:'lth_package')}">
                                    <span aria-hidden="true"><i class="fal fa-times fa-lg"></i></span>
                                </button>
                            </nav>
                            <ul class="mobile-nav mobile-nav-root border-0 nav-collapse font-size-sm nav-undecorated">
                               <li class="mobile-nav-item">
                                   <div class="mobile-nav-container">
                                       <a href="{myitem.link}" class="nav-link">{myitem.title}
                                            <span class="ml-1">
                                                <i class="fal fa-chevron-circle-right fa-sm"></i>
                                            </span>
                                       </a>
                                   </div>
                                   <ul class="mobile-nav collapse show" id="{v:format.replace(substring:' ',content:myitem.title,replacement:'-')}">
                                       <f:render section="MobileNavigationItem" arguments="{menu:myitem.children}" />
                                   </ul>
                               </li>
                           </ul>
                        </div>
                    </div>
                </div>
            </f:for>
            <div class="mobile-nav-bar font-size-sm font-size-sm-base d-xl-none">
                <nav class="nav ml-2 flex-grow-1">
                    <f:for each="{mobileNavigation}" as="myitem" iteration="myiterator">
                         <div class="nav-item flex-1 ">
                             <a href="#nav-mobile--{v:format.replace(substring:' ',content:myitem.title,replacement:'-')}" class="nav-link px-2" data-toggle="modal" aria-controls="nav-mobile--{v:format.replace(substring:' ',content:myitem.title,replacement:'-')}" aria-expanded="false" aria-label="{f:translate(key:'show_menu',extensionName:'lth_package')}">
                                 {myitem.title}
                             </a>
                         </div>
                    </f:for>
                </nav>
                <nav class="nav">
                    <div class="nav-item">
                      <a class="nav-link" href="#nav-mobile" data-toggle="modal" aria-controls="nav-mobile" aria-expanded="false" aria-label="Visa meny"><i class="fal fa-bars"></i> {f:translate(key:'more',extensionName:'lth_package')}</a>
                    </div>
                </nav>
            </div>
        </f:then>
    </f:if>
    <f:section name="MobileNavigationItem">

        <f:for each="{menu}" as="item" iteration="iterator">
            
            <f:if condition="{item.children}">
                <f:then>
                    <li class="mobile-nav-item">
                        <div class="mobile-nav-container">
                            <f:if condition="{item.current}">
                                <f:then>
                                    <span class="nav-link active">{item.title}</span>
                                </f:then>
                                <f:else>
                                    <a href="{item.link}" class="nav-link" title="{item.title}">{item.title}</a>
                                </f:else>
                            </f:if>
                            
                            <a href="#{v:format.replace(substring:' ',content:item.title,replacement:'-')}" 
                               title="{item.title}" 
                               class="mobile-nav-toggle{f:if(condition:item.active,then:'',else:' collapsed')}" 
                               data-target="#{v:format.replace(substring:' ',content:item.title,replacement:'-')}" 
                               data-toggle="collapse" 
                               aria-expanded="{f:if(condition:item.active,then:'true',else:'false')}" 
                               aria-controls="{v:format.replace(substring:' ',content:item.title,replacement:'-')}">
                                <span class="collapse-show">
                                    <i class="fal fa-plus-circle"></i>
                                </span>
                                <span class="collapse-hide">
                                    <i class="fal fa-minus-circle"></i>
                                </span>
                            </a>
                        </div>
                        
                        <ul class="mobile-nav collapse {f:if(condition:item.active,then:' show')}" id="{v:format.replace(substring:' ',content:item.title,replacement:'-')}">
                            <f:render section="MobileNavigationItem" arguments="{menu:item.children}" />
                        </ul>
                    </li>
                </f:then>
                <f:else>
                    <li class="mobile-nav-item">
                        <div class="mobile-nav-container">
                            <f:if condition="{item.current}">
                                <f:then>
                                    <span class="nav-link active">{item.title}</span>
                                </f:then>
                                <f:else>
                                    <a href="{item.link}" class="nav-link" title="{item.title}">{item.title}</a>
                                </f:else>
                            </f:if>
                        </div>
                    </li>
                </f:else>
            </f:if>
        </f:for>
    </f:section>
</html>