<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:layout name="Default" />
    <f:section name="Main">
        <div class="{f:if(condition: data.flexform_bleed, then: '', else: 'container')}">
            <div class="masonryD masonry-container masonry-container-2by1">
                <div class="masonry masonry-wide masonry-cols">
                    <div class="masonry-col masonry-col-50">
                        <div class="masonry-row masonry-row-100">
                            <div class="masonry-tile">
                                <f:format.raw>{data.tx_gridelements_view_column_11}</f:format.raw>
                            </div>
                        </div>
                    </div>
                    <div class="masonry-col masonry-col-50">
                        <div class="masonry-row masonry-row-50">
                            <div class="masonry-cols">
                                <div class="masonry-col masonry-col-50">
                                    <div class="masonry-tile masonry-tile-sm">
                                        <f:format.raw>{data.tx_gridelements_view_column_12}</f:format.raw>
                                    </div>
                                </div>
                                <div class="masonry-col masonry-col-50">
                                    <div class="masonry-tile masonry-tile-sm">
                                        <f:format.raw>{data.tx_gridelements_view_column_13}</f:format.raw>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="masonry-row masonry-row-50">
                            <div class="masonry-tile">
                                <f:format.raw>{data.tx_gridelements_view_column_21}</f:format.raw>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </f:section>
</html>