<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:layout name="Default" />
    <f:section name="Main">
        <div class="container">
            <div class="masonryA masonry-container masonry-container-1by1">
                <div class="masonry masonry-cols">
                    <div class="masonry-col masonry-col-60">
                        <div class="masonry-row masonry-row-75">
                            <div class="masonry-tile masonry-tile-lg">
                                <f:format.raw>{data.tx_gridelements_view_column_11}</f:format.raw>
                            </div>
                        </div>
                        <div class="masonry-row masonry-row-25">
                            <div class="masonry-tile">
                                <f:format.raw>{data.tx_gridelements_view_column_21}</f:format.raw>
                            </div>
                        </div>
                    </div>
                    <div class="masonry-col masonry-col-40">
                        <div class="masonry-row masonry-row-55">
                            <div class="masonry-tile">
                                <f:format.raw>{data.tx_gridelements_view_column_12}</f:format.raw>
                            </div>
                        </div>
                        <div class="masonry-row masonry-row-45">
                            <div class="masonry-tile">
                                <f:format.raw>{data.tx_gridelements_view_column_22}</f:format.raw>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </f:section>
</html>