<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:layout name="Default" />
    <f:section name="Main">
        <div  id="NavBlockLight-{data.uid}" class="navBlockDark bg-plaster-25 nav-undecorated">
            <div class="container">
		<div class="row py-7">
                    <div class="col-12 col-md-6 mb-7">
                        <f:format.raw>{data.tx_gridelements_view_column_11}</f:format.raw> 
                    </div>
                    <div class="col-12 col-md-6 mb-7">
                        <f:format.raw>{data.tx_gridelements_view_column_12}</f:format.raw>
                    </div>
		</div>
            </div>
        </div>
    </f:section>
</html>