<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:layout name="Default" />
    <f:section name="Main">
        <div id="NavBlockDark-{data.uid}" class="navBlockDark bg-dark text-dark-25 pt-6">
            <div class="container my-0 mx-auto px-2">
		<div class="row justify-content-center border-bottom border-white mx-1 mx-lg-0 pb-4 nav-collapse font-size-sm mx-0 mx-lg-auto cmx-0 cmx-lg-auto cpx-0">
                    <div class="col-lg mx-2 gcp-2">
                        <f:format.raw>{data.tx_gridelements_view_column_11}</f:format.raw>
                    </div>
                    <div class="col-lg mx-2 gcp-2">
                        <f:format.raw>{data.tx_gridelements_view_column_12}</f:format.raw>
                    </div>
                    <div class="col-lg mx-2 gcp-2">
                        <f:format.raw>{data.tx_gridelements_view_column_13}</f:format.raw>
                    </div>
		</div>
            </div>
        </div>
    </f:section>
</html>

<!--
<div class="bg-dark text-dark-25 pt-6">
	<div class="container my-0 mx-auto px-2">
		<div class="row justify-content-center border-bottom border-white mx-1 mx-lg-0 pb-4 nav-collapse font-size-sm mx-0 mx-lg-auto cmx-0 cmx-lg-auto cpx-0">
			<div class="col-lg mx-2 gcp-2">
				<div class="nav-footer mb-3 mb-lg-4">
					<a href="section1.html" data-target="#dark-section1" class="text-uppercase font-weight-normal no-events-lg nav-undecorated nav-link collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="dark-section1">
						<div class="float-right text-dark-25 d-lg-none"><i class="fal fa-chevron-right"></i></div>
						Institutioner
					</a>
					<div class="collapse collapse-lg" id="dark-section1">
						<ul class="nav flex-column gcpy-2 gcpy-lg-1 gcpx-0">
							<li class="nav-item"><a href="item1.html" class="nav-link">Ekonomisk-historiska institutionen</a></li>
							<li class="nav-item"><a href="item2.html" class="nav-link">Företagsekonomiska institutionen</a></li>
							<li class="nav-item"><a href="item3.html" class="nav-link">Institutionen för handelsrätt</a></li>
							<li class="nav-item"><a href="item4.html" class="nav-link">Institutionen för informatik</a></li>
							<li class="nav-item"><a href="item5.html" class="nav-link">Nationalekonomiska institutionen</a></li>
							<li class="nav-item"><a href="item6.html" class="nav-link">Statistiska institutionen</a></li>
						</ul>
					</div>
				</div>
				<div class="nav-footer mb-3 mb-lg-4">
					<a href="section2.html" data-target="#dark-section2" class="text-uppercase font-weight-normal no-events-lg nav-undecorated nav-link collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="dark-section2">
						<div class="float-right text-dark-25 d-lg-none"><i class="fal fa-chevron-right"></i></div>
						Forskningsinstitut och centrum
					</a>
					<div class="collapse collapse-lg" id="dark-section2">
						<ul class="nav flex-column gcpy-2 gcpy-lg-1 gcpx-0">
							<li class="nav-item"><a href="item1.html" class="nav-link">Centrum för ekonomisk demografi</a></li>
							<li class="nav-item"><a href="item2.html" class="nav-link">Centrum för handelsforskning</a></li>
							<li class="nav-item"><a href="item3.html" class="nav-link">Agrifood Economics Centre</a></li>
							<li class="nav-item"><a href="item4.html" class="nav-link">Knut Wicksells centrum för finansvetenskap</a></li>
							<li class="nav-item"><a href="item5.html" class="nav-link">Sten K Johnson Centre for Entrepreneurship</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg mx-2 gcp-2">
				<div class="nav-footer mb-3 mb-lg-4">
					<a href="section3.html" data-target="#dark-section3" class="text-uppercase font-weight-normal no-events-lg nav-undecorated nav-link collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="dark-section3">
						<div class="float-right text-dark-25 d-lg-none"><i class="fal fa-chevron-right"></i></div>
						Nybörjarprogram och kurser
					</a>
					<div class="collapse collapse-lg" id="dark-section3">
						<ul class="nav flex-column gcpy-2 gcpy-lg-1 gcpx-0">
							<li class="nav-item"><a href="item1.html" class="nav-link">BSc International Business</a></li>
							<li class="nav-item"><a href="item2.html" class="nav-link">Ekonomie kandidatprogrammet</a></li>
							<li class="nav-item"><a href="item3.html" class="nav-link">Systemvetenskapliga kandidatprogrammet</a></li>
							<li class="nav-item"><a href="item4.html" class="nav-link">Politices kandidatprogrammet</a></li>
							<li class="nav-item"><a href="item5.html" class="nav-link">Kandidatprogrammet i praktisk filosofi, politik &amp; ekonomi</a></li>
							<li class="nav-item"><a href="item6.html" class="nav-link">Fristående kurser</a></li>
						</ul>
					</div>
				</div>
				<div class="nav-footer mb-3 mb-lg-4">
					<a href="section4.html" data-target="#dark-section4" class="text-uppercase font-weight-normal no-events-lg nav-undecorated nav-link collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="dark-section4">
						<div class="float-right text-dark-25 d-lg-none"><i class="fal fa-chevron-right"></i></div>
						Forskarutbildning
					</a>
					<div class="collapse collapse-lg" id="dark-section4">
						<ul class="nav flex-column gcpy-2 gcpy-lg-1 gcpx-0">
							<li class="nav-item"><a href="item1.html" class="nav-link">Ekonomisk historia</a></li>
							<li class="nav-item"><a href="item2.html" class="nav-link">Företagsekonomi</a></li>
							<li class="nav-item"><a href="item3.html" class="nav-link">Handelsrätt</a></li>
							<li class="nav-item"><a href="item4.html" class="nav-link">Informatik</a></li>
							<li class="nav-item"><a href="item5.html" class="nav-link">Nationalekonomi</a></li>
							<li class="nav-item"><a href="item6.html" class="nav-link">Statistik</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg mx-2 gcp-2">
				<div class="nav-footer mb-3 mb-lg-4">
					<a href="section5.html" data-target="#dark-section5" class="text-uppercase font-weight-normal no-events-lg nav-undecorated nav-link collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="dark-section5">
						<div class="float-right text-dark-25 d-lg-none"><i class="fal fa-chevron-right"></i></div>
						Magister- och masterprogram
					</a>
					<div class="collapse collapse-lg" id="dark-section5">
						<ul class="nav flex-column gcpy-2 gcpy-lg-1 gcpx-0">
							<li class="nav-item"><a href="item1.html" class="nav-link">Accounting &amp; Finance</a></li>
							<li class="nav-item"><a href="item2.html" class="nav-link">Economic Development &amp; Growth</a></li>
							<li class="nav-item"><a href="item3.html" class="nav-link">Economic Growth, Population &amp; Development</a></li>
							<li class="nav-item"><a href="item4.html" class="nav-link">Economics</a></li>
							<li class="nav-item"><a href="item5.html" class="nav-link">Entrepreneurship &amp; Innovation</a></li>
							<li class="nav-item"><a href="item6.html" class="nav-link">European &amp; International Tax Law</a></li>
							<li class="nav-item"><a href="item7.html" class="nav-link">Finance</a></li>
							<li class="nav-item"><a href="item8.html" class="nav-link">Information Systems</a></li>
							<li class="nav-item"><a href="item9.html" class="nav-link">Innovation &amp; Spatial Dynamics</a></li>
							<li class="nav-item"><a href="item10.html" class="nav-link">International Economics with a focus on China</a></li>
							<li class="nav-item"><a href="item11.html" class="nav-link">International Marketing &amp; Brand Management</a></li>
							<li class="nav-item"><a href="item12.html" class="nav-link">International Strategic Management</a></li>
							<li class="nav-item"><a href="item13.html" class="nav-link">Managing People, Knowledge &amp; Change</a></li>
							<li class="nav-item"><a href="item14.html" class="nav-link">Master&#x27;s in Management</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
-->