<script id="newsTemplate" type="text/x-jquery-templ">
    <div class="news-items bg_beige clearfix" style="border-bottom:none !important; margin-bottom:0px !important; padding-bottom:0px !important;">		
        <div class="news-top clearfix">
            <div class="news-top-right news-top-right-top grid-10 alpha omega">
                <p class="news-date-category">
                <span class="news-date">###datetime_1###</span></p>
                <div class="news-top-image show-xs">###image_1###</div>
                <p class="news-title"><a href="om-oss/nyheter/visa/article/###title_1###/" title="###title_1###">###title_1###</a></p>
                <p class="news-lead">###teaser_1###</p>
            </div>
        </div>
    </div>    
    <div class="news-wrapper news-horizontal news-large" style="width:100%">
        <div class="news-items bg_beige clearfix" style="border-top:none !important; margin-top:0px !important; padding-top:0px !important;">
            <div class="news-item start-grid-7">
                    <p class="news-date-category"><span class="news-date">###datetime_2###</span></p>
                    <p class="news-title"><a href="om-oss/nyheter/visa/article/###title_2###/" title="###title_2###">###title_2###</a></p>
                    <p class="news-lead"></p><p>###teaser_2###</p>
            </div>
            <div class="news-item start-grid-7 center" style="height: 182px;">
                    <p class="news-date-category"><span class="news-date">###datetime_3###</span></p>
                    <p class="news-title"><a href="om-oss/nyheter/visa/article/###title_3###/" title="###title_3###">###title_3###</a></p>
                    <p class="news-lead"></p><p>###teaser_3###</p>
            </div>
            <div class="news-item start-grid-7">
                    <p class="news-date-category"><span class="news-date">###datetime_4###</span></p>
                    <p class="news-title"><a href="om-oss/nyheter/visa/article/###title_4###/" title="###title_4###">###title_4###</a></p>
                    <p class="news-lead"></p><p>###teaser_4###</p>
            </div>
        </div>
    </div>
</script>